.cart_empty_section {
  margin-top: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  img {
    width: 40%;
    object-fit: cover;
  }
  button {
    background-color: orange;
    border: none;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    transform: scale(1);
    transition: 300ms all;
    box-shadow: 7px 6px 14px -1px orange;
    padding: 10px 20px;
    span {
      color: black;
      font-weight: 500;
    }
    &:hover{
        transform: scale(1.15);
    }
  }
}
