.footer_section{
    background-image: linear-gradient(
    0.2deg,
    rgba(40, 173, 222, 1) 4.8%,
    rgb(27, 76, 224) 85.5%
  );
  color: rgb(226, 232, 240);
  padding: 40px;
display: flex;
align-items: center;
margin-top: 100px;
justify-content: space-between;
ul{
    li{
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    }
}
}