@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
.header {
  position: absolute;
  top: 0;
  padding: 20px 40px;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 5;
  transition: 300ms linear;
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header_logo {
  display: flex;
  align-items: center;
}
.header .header_logo img {
  width: 16vh;
  height: auto;
}
.header .icon_items ul {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header .icon_items ul li {
  color: white;
  cursor: pointer;
  list-style: none;
}
.header .icon_items ul li .count_section {
  position: relative;
  border: none;
  color: white;
  background: transparent;
}
.header .icon_items ul li .count_section span {
  border-radius: 50%;
  position: absolute;
  top: -14px;
  left: 16px;
  background: white;
  font-weight: 600;
  color: blue;
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 9px 2px 11px 2px;
  justify-content: center;
  font-size: 16px;
}

.header_scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  z-index: 10;
  transition: 300ms linear;
  background-color: rgba(105, 177, 202, 0.83);
  padding: 20px 40px;
}
.header_scroll .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_scroll .header_logo {
  display: flex;
  align-items: center;
}
.header_scroll .header_logo img {
  width: 16vh;
  height: auto;
  filter: brightness(0);
}
.header_scroll .icon_items ul {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header_scroll .icon_items ul li {
  color: rgb(0, 0, 0);
  cursor: pointer;
  list-style: none;
}
.header_scroll .icon_items ul li .count_section {
  position: relative;
  border: none;
  color: rgb(0, 0, 0);
  background: transparent;
}
.header_scroll .icon_items ul li .count_section span {
  border-radius: 50%;
  position: absolute;
  top: -14px;
  left: 16px;
  background: white;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  font-weight: 600;
  width: 20px;
  height: 20px;
  padding: 9px 2px 11px 2px;
  justify-content: center;
  font-size: 16px;
}

.card_section_general {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.308);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 20;
  opacity: 1;
  transition: all 300ms;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  overflow-y: auto;
  height: auto !important;
  scroll-behavior: smooth;
}
.card_section_general::-webkit-scrollbar {
  width: 0;
}
.card_section_general .card_general_items {
  padding: 30px;
  position: absolute;
  max-width: 45rem;
  right: 0;
  width: 100%;
  transition: all 300ms;
  background-color: rgba(255, 255, 255, 0.678);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.card_section_general .fidex_items_end {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  padding: 15px;
  display: grid;
  place-items: center;
}
.card_section_general .fidex_items_end .text_items_end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_section_general .fidex_items_end .text_items_end h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.card_section_general .fidex_items_end .text_items_end .price_end_total {
  font-weight: 600;
  background-color: black;
  color: white;
  border-radius: 12px;
  padding: 5px 7px;
}
.card_section_general .fidex_items_end .btn_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.card_section_general .fidex_items_end .btn_section p {
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
}
.card_section_general .fidex_items_end .btn_section button {
  background-color: black;
  color: white;
  border-radius: 12px;
}

.visible_section {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

.invisible_section {
  opacity: 0;
  visibility: hidden;
  transform: translateX(2rem);
}

.cart_count_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}
.cart_count_section .cart_count_section_icon_text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.cart_count_section .cart_count_section_icon_text svg {
  cursor: pointer;
}
.cart_count_section .cart_count_section_icon_text .text_items p {
  font-weight: 500;
  font-size: 1.1rem;
}
.cart_count_section .cart_count_section_icon_text .text_items p span {
  background-color: black;
  color: white;
  padding: 5px 12px;
  border-radius: 12px;
}
.cart_count_section button {
  border: none;
  background: transparent;
}

.cart_empty_section {
  margin-top: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.cart_empty_section img {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart_empty_section button {
  background-color: orange;
  border: none;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  transform: scale(1);
  transition: 300ms all;
  box-shadow: 7px 6px 14px -1px orange;
  padding: 10px 20px;
}
.cart_empty_section button span {
  color: black;
  font-weight: 500;
}
.cart_empty_section button:hover {
  transform: scale(1.15);
}

.cartItem_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10%;
}
.cartItem_section .cartItem_section_img_texts {
  gap: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
}
.cartItem_section .cartItem_section_img_texts .img_section {
  position: relative;
}
.cartItem_section .cartItem_section_img_texts .img_section img {
  width: 20vh;
  -o-object-fit: fill;
     object-fit: fill;
  height: auto;
}
.cartItem_section .cartItem_section_img_texts .img_section .img_second_section {
  position: absolute;
  right: 2px;
  top: 2px;
  color: black;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.522);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  padding-left: 1px;
  padding-right: 1px;
  font-weight: 600;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 16px;
  line-height: 1rem;
}
.cartItem_section .cartItem_section_img_texts .cartItem_section_texts {
  display: grid;
  place-items: center;
  gap: 4vh;
}
.cartItem_section .cartItem_section_img_texts .cartItem_section_texts .cartItem_section_texts_heading {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cartItem_section .cartItem_section_img_texts .cartItem_section_texts .cartItem_section_texts_heading h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: rgb(15, 23, 42);
}
.cartItem_section .cartItem_section_img_texts .cartItem_section_texts .cartItem_section_texts_heading p {
  color: rgb(30, 41, 59);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.cartItem_section .cartItem_section_img_texts .cartItem_section_texts .cartItem_section_btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cartItem_section .cartItem_section_img_texts .cartItem_section_texts .cartItem_section_btns button {
  background-color: transparent;
  border: none;
}
.cartItem_section .cartItem_section_img_texts .cartItem_section_texts .cartItem_section_btns .count_btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartItem_section .price_section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.cartItem_section .price_section .price_item {
  display: grid;
  place-items: center;
  justify-items: center;
}
.cartItem_section .price_section .price_btn {
  display: grid;
  place-items: center;
  justify-items: center;
}
.cartItem_section .price_section .price_btn button {
  background-color: transparent;
  border: none;
}

.container_hero {
  position: relative;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}
.container_hero .theme_clip {
  background-image: linear-gradient(0.2deg, rgb(40, 173, 222) 4.8%, rgb(27, 76, 224) 85.5%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
  height: 85vh;
  width: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  opacity: 1;
  z-index: 1;
}
.container_hero .items_section {
  position: relative;
  z-index: 5;
  opacity: 1;
  margin-top: 100px;
  display: grid;
  place-items: center;
  justify-items: center;
  width: 100%;
}
.container_hero .items_section .hero_text_items {
  display: grid;
  place-items: center;
  justify-items: center;
  margin-top: 28px;
}
.container_hero .items_section .hero_text_items .text_title {
  font-size: 2.5rem;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
  color: rgb(226, 232, 240);
}
.container_hero .items_section .hero_text_items .btn_hero {
  background: rgb(133, 202, 227) 4.8%;
  border: none;
  border-radius: 12px;
  color: #010145;
  padding: 7px 12px;
  font-size: 20px;
  margin-top: 10px;
  box-shadow: 0px 2px 10px -2px rgb(222, 222, 222);
  cursor: pointer;
}
.container_hero .items_section .hero_text_items .btn_hero:hover {
  transition: 300ms ease;
  background: rgb(0, 151, 205) 4.8%;
}
.container_hero .items_section .hero_text_items .clip_video_section {
  display: grid;
  place-items: center;
  gap: 10px;
  position: absolute;
  top: 5vh;
  left: 11%;
  width: auto;
  height: auto;
}
.container_hero .items_section .hero_text_items .sosialLinks_section {
  display: grid;
  place-items: center;
  position: absolute;
  top: 20vh;
  right: 20px;
  gap: 10px;
}
.container_hero .items_section .img_section {
  display: flex;
  align-items: center;
}
.container_hero .items_section .img_section .img_hero {
  width: auto;
  height: 45vh;
  -o-object-fit: fill;
     object-fit: fill;
  cursor: pointer;
  transition: 700ms ease-in-out all;
  transform: rotate(25deg);
}
.container_hero .items_section .img_section .img_hero:hover {
  transform: rotate(0);
}

.clip_container {
  position: relative;
  height: 28vh;
  width: 32vh;
  border-radius: 12px;
  overflow: hidden;
}
.clip_container .img_clip {
  display: flex;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 12px;
  opacity: 1;
  z-index: 1;
}
.clip_container .clip_video {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  z-index: 0;
  transition: 300ms all;
}

.clip_container:hover > .clip_video {
  opacity: 1;
  z-index: 20;
}

.sosial_icons {
  width: 1.7rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 300ms all ease;
}
.sosial_icons:hover {
  transform: scale(1.2);
}

.sales {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title_section_hero {
  display: grid;
  margin-top: 10%;
  place-items: center;
}
.title_section_hero h1 {
  font-size: 3rem;
  line-height: 1;
  margin: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
}

.item_section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 300ms all;
  border-radius: 18px;
  width: 100%;
  transform: scale(0.7);
  box-shadow: 34px 9px 30px -2px rgb(147, 183, 255);
}
.item_section .item_section_center {
  display: grid;
  place-items: center;
  padding: 25px 10px;
  justify-items: flex-start;
}
.item_section .item_section_center .item_section_center_texts {
  display: flex;
  align-items: center;
  gap: 25px;
}
.item_section .item_section_center .item_section_center_texts .item_section_center_texts_price {
  background-color: rgba(0, 78, 157, 0.6784313725);
  color: #f1f5f9;
  padding: 5px 10px;
  border-radius: 0px 8px 0px 8px;
}
.item_section .item_section_center .item_section_center_texts .item_section_center_texts_price h2 {
  margin: 0;
}
.item_section .item_section_center .item_section_center_texts .item_section_center_texts_icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.item_section .item_section_center .item_section_center_texts .item_section_center_texts_icon svg {
  color: gold;
}
.item_section .item_section_center .item_section_btns {
  display: flex;
  align-items: center;
}
.item_section .item_section_center .item_section_btns .btn1 {
  background: transparent;
  border: none;
  margin: 0px 20px;
}
.item_section .item_section_center .item_section_btns .btn2 {
  outline: none;
  border: none;
  margin: 0px 20px;
  background-color: rgba(126, 190, 255, 0.6784313725);
  color: #272727;
  border-radius: 0 12px;
  padding: 10px 15px;
}
.item_section .item_section_image {
  max-width: 60vh;
  max-height: 40vh;
  transform: rotate(0deg);
  transition: 300ms ease-in-out;
}
.item_section .item_section_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item_section .item_section_image:hover {
  transform: rotate(15deg);
  z-index: 1;
}
.item_section:hover {
  box-shadow: 34px 9px 30px -2px rgb(68, 130, 255);
  transform: scale(0.8);
}

.flexContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
}
.flexContent .flexContent_text_items .flexContent_text_heading {
  color: rgb(0, 63, 200);
  margin: 0;
}
.flexContent .flexContent_text_items h2 {
  font-size: 2.2rem;
  margin: 0;
}
.flexContent .flexContent_text_items button {
  border: none;
  background-color: steelblue;
  border-radius: 12px;
  color: white;
  padding: 8px 10px;
  margin-top: 12px;
  box-shadow: 9px 10px 14px -1px #0c87af;
}
.flexContent .flexContent_image {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
}
.flexContent .flexContent_image img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.flexContent .flexContent_image img:hover {
  transition: 300ms linear;
  transform: rotate(16deg);
}

footer {
  background-image: linear-gradient(0.2deg, rgb(40, 173, 222) 4.8%, rgb(27, 76, 224) 85.5%);
  color: rgb(226, 232, 240);
}
footer .footer_section {
  padding: 40px;
  display: flex;
  align-items: center;
  margin-top: 100px;
  justify-content: space-between;
}
footer .footer_section ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}
footer .footer_section ul li:after {
  content: "";
  background-color: blue;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}
footer .footer_section ul li:hover:after {
  width: 100%;
}
footer .end_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ffffff;
  padding: 20px 62px 24px 62px;
}
footer .end_text p {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  line-height: 24px;
  color: #f0f2f5;
}
footer .end_text .sosial_links ul {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  padding: 0;
}
footer .end_text .sosial_links ul li {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  color: #e0e2e7;
  cursor: pointer;
}
footer .end_text .sosial_links ul li:hover {
  color: blue;
  transition: 0.3s ease-in-out;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Raleway", sans-serif;
}

button {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */